<a href="https://colab.research.google.com/github/baikAnalyst/BigDataAnalyticsEngineer_Test/blob/main/20231014_pythonBasic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# 문자열 길이 구하기

a = "Life is short, Python is valuable"
b = len(a)

print(b)

33

In [9]:
# 문자열 인덱싱
a = "Life is short, Python is valuable"
b, c, d, e = a[0], a[10], a[-8], a[3]
print(b+c+d+e)

Love

In [14]:
# 문자열 슬라이싱
# Life is valuable
a = "Life is short, Python is valuable"
# b,c,d = a[:4], a[5:7], a[-8:]
b,c,d = a[:5], a[5:8], a[-8:]
print(b+c+d)

Life is valuable

In [18]:
# 문자개수 세기 .count
a = 'apple'
b= a.count('p')
c = a.count('a')

print(b)
print(c)

2
1

In [20]:
# 문자열 삽입 .join
a = 'apple'
b = ','.join(a)

print(b)
print(type(b))

a,p,p,l,e
<class 'str'>

In [21]:
# 소문자와 대문자 바꾸기 .lower, .upper
a = 'apple'
b = a.upper()
c = b.lower()

print(b)
print(c)

APPLE
apple

In [27]:
# 공백지우기 .strip, .lstrip, rstrip
a= '  apple  '
b= a.lstrip()
c= a.rstrip()
d= a.strip()

print(a)
print(b)
print(c)

  apple
apple
  apple

In [29]:
# 문자열 바꾸기 .replace
a = 'Life is good'
b = a.replace('Life', 'Python')
print(b)

Python is good

In [30]:
#문자열 나누기 .split

a= "Life is short, Python is valuable"
b= a.split()
c= a.split(',')

print(b)
print(c)

['Life', 'is', 'short,', 'Python', 'is', 'valuable']
['Life is short', ' Python is valuable']

In [32]:
a = list(range(1,6))
a

[1, 2, 3, 4, 5]

In [33]:
a[2] = 10
a

[1, 2, 10, 4, 5]

In [34]:
# 리스트 요소 지우기 del 리스트명[인덱스]
del a[4]
a

[1, 2, 10, 4]

In [35]:
# 리스트 요소추가 .append
a = [1, 2, 3]
a.append(10)
a

[1, 2, 3, 10]

In [36]:
#리스트 정렬 .sort
a = [1, 5, 2, 4, 3]
a.sort()

print(a)

[1, 2, 3, 4, 5]

In [38]:
# 리스트 요소의 위치 반환 .index(리스트요소)
a= [5,4,3,2,1]
b= a.index(3)
c= a.index(5)

print(b)
print(c)

2
0

In [39]:
# 리스트 요소 삽입 .insert(인덱스자리, 삽입할 요소)

a= [1,2,3]
a.insert(0, 10)

print(a)

[10, 1, 2, 3]

In [40]:
# 리스트 요소 제거 .remove(제거할 요소):
# 맨처음 하나만 제거
a= [5,4,3,2,1,5,4,3,2,1]
a.remove(4)

print(a)

[5, 3, 2, 1, 5, 4, 3, 2, 1]

In [41]:
# 리스트 요소 뽑기 .pop(뽑을 요소)
# 맨처음 하나만 제거하고 제거한 요소의 인덱스 출력
a= [5,4,3,2,1,5,4,3,2,1]
b= a.pop(1)

print(a)
print(b)

[5, 3, 2, 1, 5, 4, 3, 2, 1]
4

In [42]:
# 리스트 요소 개수 세기 .count(개수알고싶은 요소)
a = [5,4,3,2,1,5,4,3,2,1]
b= a.count(1)

print(b)

2

In [43]:
# 튜플 기본 연산

a = tuple(range(1, 6))
a

(1, 2, 3, 4, 5)

In [45]:
b = ('a', 'b', 'c')
c = a*2+b
d = len(c)

print(c)
print(d)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 'a', 'b', 'c')
13

In [46]:
# 튜플 인덱싱과 슬라이싱
a = (1,2,3,'a', 'b', 'c')

print(a[0])
print(a[3:])

1
('a', 'b', 'c')

In [47]:
# 딕셔너리 자료구조 {key:value}

a = {'name': 'John', 'age':30, 'birth':[11,8]}

print(a)
print(a['name'])
print(a['birth'])

{'name': 'John', 'age': 30, 'birth': [11, 8]}
John
[11, 8]

In [50]:
# 딕셔너리 키-값 추가와 삭제
a = {'name':'John'}               # 기존딕셔너리에
print(a)
a['age'] = 30                            # key, value 추가 1
a['house'] = 'apartment'    # key, value 추가 2
a['birth'] = [11, 8]                # key, value 추가 3

print(a)

{'name': 'John'}
{'name': 'John', 'age': 30, 'house': 'apartment', 'birth': [11, 8]}

In [51]:
# 딕셔너리 키 중복
a = {'name':'John', 'name':'Park'}
print(a)

{'name': 'Park'}

In [52]:
# 딕셔너리 키 리스트 만들기
a= {'name':'John', 'age':30, 'birth':[11, 8]}
b= a.keys()
c= list(a.keys())

print(b)
print(c)

dict_keys(['name', 'age', 'birth'])
['name', 'age', 'birth']

In [53]:
# 딕셔너리 값 리스트 만들기
a= {'name':'John', 'age':30, 'birth':[11, 8]}
b= a.values()
c = list(a.values())

print(b)
print(c)

dict_values(['John', 30, [11, 8]])
['John', 30, [11, 8]]

In [54]:
# 딕셔너리 카-값 리스트 만들기
a= {'name':'John', 'age':30, 'birth':[11, 8]}
b= a.items()
c= list(a.items())

print(b)
print(c) # 튜플을 요소로 한 리스트

dict_items([('name', 'John'), ('age', 30), ('birth', [11, 8])])
[('name', 'John'), ('age', 30), ('birth', [11, 8])]

In [55]:
# 딕셔너리 키로 값 호출하기
a= {'name':'John', 'age':30, 'birth':[11, 8]}
b= a.get('name')
c= a['name']
d= a.get('house')
e= a.get('house', 'No data')

print(b)
print(c)
print(d)
print(e)

John
John
None
No data

In [56]:
# set

a= {1,2,3,2,1}
b= set([1,2,3,2,1])
c= set('Python')

print(a)
print(b)
print(c)
# 중복허용하지 않음
# 순서대로 정렬되지 않음

{1, 2, 3}
{1, 2, 3}
{'P', 'h', 'y', 't', 'n', 'o'}

In [57]:
# set data type shift
a = set([1,2,3])
b= list(a)
c= tuple(a)

print(a)
print(b)
print(b[0])
print(c)
print(c[2])

{1, 2, 3}
[1, 2, 3]
1
(1, 2, 3)
3

In [58]:
# set type intersection
a= set([1,2,3,4,5])
b= set([3,4,5,6,7])

c= a & b
d = a.intersection(b)

print(c)
print(d)

{3, 4, 5}
{3, 4, 5}

In [59]:
# set type union
a= set([1,2,3,4,5])
b= set([3,4,5,6,7])

c= a | b
d= a.union(b)

print(c)
print(d)

# 중복제외한 합집합

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [62]:
# set difference
a= set([1,2,3,4,5])
b= set([3,4,5,6,7])

c= a - b               # 마이너스
d= a.difference(b)

print(c)
print(d)

{1, 2}
{1, 2}

In [60]:
# bool type

a= True # 1
b= False # 0

print(a)
print(type(a))
print(b)
print(type(b))
print(a+b)
print(type(a+b))
print(a*b)
print(type(a*b))

True
<class 'bool'>
False
<class 'bool'>
1
<class 'int'>
0
<class 'int'>

In [63]:
# conditional stsatments - if
# basic structure

a = True

if a:
  print('가설은')
  print('사실이다')
else:
  print('가설은')
  print('거짓이다')

가설은
사실이다

In [64]:
# comparative operators
x = 3
y = 7

if x <= y:
  print('x가 y보다 작거나 같다')
else:
  print('x가 y보다 크다')

x가 y보다 작거나 같다

In [65]:
# and, or, not

x = 3
y = 7

if x == y or x < y:
  print('x가 y보다 작거나 같다')
else:
  print('x가 y보다 크다')

x가 y보다 작거나 같다

In [66]:
# in, not, in
x = 3
y = [1,2,3,4,5]

if x in y:
  print('데이터가 존재한다')
else:
  print('데이터가 존재하지 않는다')

데이터가 존재한다

In [67]:
# elif

x = 3
y = 7

if x == y:
  print('x와 y는 같다')
elif x < y:
  print('x가 y보다 작다')
else:
  print('x가 y보다 크다')

x가 y보다 작다

In [68]:
# loop - while
# basic structure
a = 0

while a < 5:
  print("a값은 %s입니다"%a)
  a = a + 1       # a가 0부터 시작하니까 하나씩 늘어나야 5보다 작을 때까지 늘어나게 됨

print('while문이 종료되었습니다')

a값은 0입니다
a값은 1입니다
a값은 2입니다
a값은 3입니다
a값은 4입니다
while문이 종료되었습니다

In [70]:
# condition change
a= 0
b= ['사과', '바나나', '토마토']

while a < len(b):
  print('바구니에서 %s를 꺼냈습니다' % b[a])   # b[0]
  a = a + 1                                               # b[1], b[2]

print('바구니에 아무것도 남아있지 않습니다.')

바구니에서 사과를 꺼냈습니다
바구니에서 바나나를 꺼냈습니다
바구니에서 토마토를 꺼냈습니다
바구니에 아무것도 남아있지 않습니다.

In [71]:
# break in while loop  : terminate the iteration and get out from the loop

a = 5

while a > 0:
  print('a값은 %s 입니다' % a) # 5,4,3
  a = a - 1

  if a == 2:
    break

print('while문이 종료되었습니다')

a값은 5 입니다
a값은 4 입니다
a값은 3 입니다
while문이 종료되었습니다

In [75]:
# continue in while loop: once condition satisfied stop this iteration only, go back to the start and perform next iteration

a = 0

while a < 10:
  a = a + 1
  if a % 2 == 0:  # 여기서 조건에 만족하면 이번 반복은 중단하고(출력되지 않) 처음으로 돌아가서 다음 반복 수행함
    continue
  print(a)

1
3
5
7
9

In [76]:
# for loop
# basic structure

a = ['사과', '바나나', '토마토']

for i in a:
  print(i)

사과
바나나
토마토

In [77]:
# for loop + if conditional

a= [90, 25, 67, 45, 80]
b= sum(a) / len(a) # average

for i in a:
  if i > b:
    print('%d 는(은) 평균보다 크다' % i)
  else:
    print('%d 는(은) 평균보다 작거나 같다' % i)

90 는(은) 평균보다 크다
25 는(은) 평균보다 작거나 같다
67 는(은) 평균보다 크다
45 는(은) 평균보다 작거나 같다
80 는(은) 평균보다 크다

In [78]:
# for문과 range문 활용

for i in range(2, 10):
  for j in range(1, 10):
    print(i*j, end =' ')
  print(' ')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [81]:
# for loop and insert in list

a= list(range(1,5))
result = []

for i in a:
  result.insert(0, i*10)  # 리스트 요소 삽입 .insert(인덱스자리, 삽입할 요소)
                   (0, 1*10)->(0, 2*10)->(0, 3*10)->(0, 4*10)
print(result)

[40, 30, 20, 10]

In [82]:
# python function
# def
# basic structure

def add(a, b):
  return a + b

a = 3
b = 7
c = add(a, b)

print(c)

10